@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
/* Generales */
html {
  height: 100%; }

body {
  background: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #000; }

/*sección avión*/
.tour-icon2 {
  background-image: url(../images/home/tour-icon2.png);
  height: 10em;
  background-repeat: no-repeat;
  background-position: 9em 1em; }

.title {
  font-size: 2em;
  font-weight: bold; }

.action .btn-common {
  margin-top: 13%;
  float: left; }

/*Background de secciones*/
.slider-bg {
  background: url(../images/home/slider-bg.png) 0 100% repeat-x;
  position: relative; }

.tour-bg {
  background-image: url(../images/home/tour-bg.png);
  background-repeat: repeat; }

/*+++++*/
.slide-text {
  position: relative;
  height: 30em;
  padding-top: 7%; }

#home-slider .slider-house {
  position: absolute;
  bottom: 0;
  right: 0; }

#home-slider .slider-cycle {
  position: absolute;
  bottom: 0;
  left: -5%; }

.slider-circle1 {
  position: absolute;
  top: 43%;
  left: 32%; }

.slider-circle2 {
  position: absolute;
  top: 38%;
  left: 35%; }

.slider-cloud1 {
  position: absolute;
  top: 20%;
  right: 15%; }

.slider-cloud3 {
  position: absolute;
  top: 40%;
  right: 40%; }

.slider-cloud2 {
  position: absolute;
  top: 10%;
  left: 15%; }

.slider-sun {
  position: absolute;
  top: -5%;
  right: 30%; }

/* media queries imagenes  */
@media (max-width: 600px) {
  .slider-circle1 {
    position: absolute;
    top: 62%;
    left: 12%;
    height: 1.5em; }

  .slider-circle2 {
    position: absolute;
    top: 58%;
    left: 16%;
    height: 1em; }

  .slider-cloud1 {
    position: absolute;
    top: 50%;
    right: 30%;
    height: 3em; }

  .slider-cloud3 {
    position: absolute;
    top: 60%;
    right: 50%;
    height: 3em; }

  .slider-cloud2 {
    position: absolute;
    top: 42%;
    left: 5%;
    height: 4em; }

  .slider-sun {
    position: absolute;
    top: 30%;
    right: 42%;
    height: 6.5em; } }
/*++++++++*/
a {
  color: #a5732a;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  a :hover {
    outline: none;
    text-decoration: none;
    color: #dab074; }
  a :focus {
    outline: none;
    outline-offset: 0; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

h1, h2 {
  color: #686868; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

.overflow {
  overflow: hidden; }

.uppercase {
  text-transform: uppercase; }

.btn-common {
  font-size: 14px;
  color: #797979;
  border: 1px solid #dbb075;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding: 10px 25px; }

.col-sm-5 #action {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0; }

.btn-common:hover, .btn-common:focus {
  outline: none;
  background: none;
  box-shadow: none;
  color: #d29948; }

.align-right {
  text-align: right; }

.inline {
  display: inline-block; }

/*margenes y paddings */
.padding {
  padding: 65px 0; }

.padding-bottom {
  padding-bottom: 65px; }

.padding-top {
  padding-top: 90px; }

.padding-right {
  padding-right: 80px; }

.padding-left {
  padding-left: 80px; }

.margin-bottom {
  margin-bottom: 35px; }

.pt-5 {
  padding-top: 5%; }

.pt-2 {
  padding-top: 2%; }

/*************************
*******Header******
**************************/
#header {
  margin-bottom: 0;
  padding: 30px 0 60px 0; }
  #header .navbar-inverse .container {
    position: relative; }

.social-icons ul li {
  padding: 0 10px; }
  .social-icons ul li:last-child {
    padding-right: 0; }
  .social-icons ul li a {
    font-size: 18px;
    color: #d3d3d3;
    padding: 0; }
    .social-icons ul li a:hover
    .social-icons ul li a:focus {
      color: #dbb075;
      background: none; }

#header .navbar {
  background: #fff;
  border: 0;
  margin-bottom: 0; }
#header .navbar-toggle {
  margin-top: 20px; }
#header .navbar-brand {
  padding: 0;
  margin-left: 0; }
  #header .navbar-brand h1, #header .navbar-brand h2 {
    padding: 0;
    margin: 0; }
#header .navbar-nav .navbar-right > li a  {
  color: #000;
  font-size: 12px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 300; }
#header .navbar-nav .navbar-right li > a:hover {
  background-color: inherit;
  border: 0;
  color: #d29948; }
#header .navbar-nav li ul .sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0; }
  #header .navbar-nav li ul .sub-menu li:hover, #header .navbar-nav li ul .sub-menu li:focus {
    background: #fef7ee;
    color: #d29948; }
  #header .navbar-nav li ul .sub-menu li .active {
    background: #fef7ee;
    color: #d29948;
    position: relative; }
    #header .navbar-nav li ul .sub-menu li .active .fa-angle-right {
      left: -3px; }
    #header .navbar-nav li ul .sub-menu li .active .fa-angle-left {
      right: -3px; }
    #header .navbar-nav li ul .sub-menu li .active i {
      position: absolute;
      font-size: 56px;
      top: -13px;
      color: #dab074; }
  #header .navbar-nav li ul .sub-menu li a {
    color: #818285;
    padding: 5px 0;
    font-size: 13px;
    display: block;
    text-transform: capitalize; }
#header .navbar-right > li:last-child {
  margin-right: 20px; }
#header .navbar-inverse .navbar-nav li a:hover {
  color: #d29948; }
#header .navbar-inverse .navbar-nav li .active > a {
  background-color: inherit;
  border: 0;
  color: #d29948; }
#header .navbar-inverse .navbar-nav li .active > a, #header .navbar-inverse .navbar-nav li .active > a:focus {
  background-color: inherit;
  border: 0;
  color: #d29948; }
#header .navbar-inverse .navbar-nav > .open > a {
  background-color: inherit;
  border: 0;
  color: #d29948; }

#header .navbar-inverse .navbar-nav li.active > a {
  background-color: inherit;
  border: 0;
  color: #d29948; }

/*Bot+on de envío*/
.btn-submit {
  width: 100%;
  background-color: #dab074;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-top: 5px;
  border-bottom: 3px solid #d29948;
  box-shadow: none;
  padding: 10px; }

/*bootstrap modifications*/
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #dbb075; }

.form-control {
  border-color: #dbb075;
  outline: none;
  box-shadow: none; }

/*comillas de testimonios*/
.comillas {
  color: #dbb075;
  font-size: .8em;
  padding: 2%; }

/*footer*/
.rocket {
  padding-bottom: 2em;
  background-image: url(../images/home/footer.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain; }

/*# sourceMappingURL=style.css.map */
